[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mainsail.cfg]
[include Macros.cfg]
# [include klicky-probe.cfg]
[include KAMP_Settings.cfg]
[include TEST_SPEED.cfg]
[include stealthburner_leds.cfg]
[include nozzle_scrub.cfg]
# [include filament_change.cfg]
[include TheFilter.cfg]
# [include filament_sensor.cfg]
[include Steppers.cfg]
[include Bed.cfg]
[include Fans.cfg]
[include Daylight.cfg]
[include ./KAMP/Adaptive_Meshing.cfg]
[include ./KAMP/Line_Purge.cfg]
[include ./KAMP/Voron_Purge.cfg]
[include ./KAMP/Smart_Park.cfg]
[include EBB_Can.cfg]
[include timelapse.cfg]

[display_status]
[pause_resume]
[exclude_object]


[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[virtual_sdcard]
path: /home/dino/printer_data/gcodes
on_error_gcode: CANCEL_PRINT


[mcu]
##	[X in MOTOR0] - B Motor
##	[Y in MOTOR1] - A Motor
##	[E in MOTOR6] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
canbus_uuid: 3bcd351f7ef4
# restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 10000    			#Max 4000
max_z_velocity: 20 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[input_shaper]

[safe_z_home]
home_xy_position: 175, 175
speed: 50
z_hop: 15
z_hop_speed: 5


[mcu EBBCan]
canbus_uuid: c7890f897b70

## NPN and PNP proximity switch types can be set by jumper
[probe]
pin: !EBBCan:gpio22 # Actual IO pin you connected to
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 5.0
samples: 2
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3


# Enable arcs support
[gcode_arcs]
resolution: 0.1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 43.036
#*# pid_ki = 1.749
#*# pid_kd = 264.670
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 36.918
#*# pid_ki = 4.923
#*# pid_kd = 69.220
#*#
#*# [stepper_z]
#*# position_endstop = 0.579
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 53.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 38.8
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.023611, -0.057361, -0.034861, -0.036111, -0.007361, 0.013889
#*# 	-0.011111, -0.011111, 0.000139, 0.002639, -0.008611, -0.016111
#*# 	-0.041111, -0.033611, -0.032361, -0.041111, -0.018611, -0.036111
#*# 	-0.004861, -0.007361, -0.003611, 0.003889, 0.003889, -0.029861
#*# 	-0.029861, -0.062361, -0.027361, -0.008611, -0.042361, -0.021111
#*# 	-0.006111, -0.044861, -0.009861, 0.000139, -0.014861, -0.022361
#*# 	0.012639, -0.022361, -0.007361, 0.002639, 0.005139, -0.003611
#*# x_count = 6
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 68.95199999999997
#*# max_x = 281.00199999999995
#*# min_y = 40.0
#*# max_y = 308.14
#*#
#*# [probe]
#*# z_offset = -0.440
